// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Apply RESET Overide
@import "./scss/grid";
@import "./scss/reset";
@import "./scss/article";


// [color-1] {
//   background-color: #19A15F;
//   color: #222;
// }
[color-1] {
  background-color: #4C8CF5;
  color: #222;
}

ion-navbar {
  ion-title.title {
    .toolbar-title {
      text-align: center;
    }
  }

  .back-button.show-back-button + .toolbar-content {
    ion-title.title .toolbar-title {
      text-align: left;
    }
  }

  .back-button.show-back-button + ion-buttons + .toolbar-content {
    ion-title.title .toolbar-title {
      text-align: left;
    }
  }

}

[ion-button] {
  &[gutter] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
