<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button clear color="dark" (click)="muteAudio()">
        <ion-icon name="volume-off"></ion-icon>
      </button>
    </ion-buttons>

    <!-- <ion-title>

    </ion-title> -->

  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- Article ID = 1 -->
  <div class="article" *ngIf="article_id == 1">
    <div class="article--header">
      <h1 class="article--header__title">
        ការ​ដាក់ និង​ការ​ដោះស្រាយ​បណ្តឹង ​នៅ​គណៈកម្មការ​ការិយាល័យ​បោះឆ្នោត​ និង​រាប់​សន្លឹក​ឆ្នោត (គ.ក.ប/គ.ក.រ)
      </h1>
    </div>
    <div class="divider"> </div>
    <div class="article--content">
      <ul>
        <li>ភ្នាក់ងារ​គណបក្ស​នយោបាយ មាន​សិទ្ធិ​តវ៉ា ឬជំទាស់​ផ្ទាល់   ភ្លាមៗ​ទៅ​ប្រធាន​ គ.ក.ប/ គ.ក.រ អំពី​ភាព​មិន​ប្រក្រតី​ណាមួយ​ពាក់ព័ន្ធ​នឹង​ការ​បោះឆ្នោត និង​រាប់​សន្លឹកឆ្នោត​​នៅ​ការិយាល័យ​បោះឆ្នោត​ ណាមួយ​ដែល​ខ្លួន​បំពេញ​ការងារ​សង្កេតការណ៍​​​​​​​ ដោយ​ត្រូវ​បញ្ជាក់អំពី​មូលហេតុ ឬ/និង   ភស្តុតាង​ដែល​នាំ​ឱ្យ​ប្រធាន គ.ក.ប/គ.ក.រ ជឿ​ថា​មាន​ភាព​មិនប្រក្រតី កើតឡើង។</li>
        <li>ប្រសិន​បើ​យល់ឃើញថា សមហេតុផល ប្រធាន​ត្រូវ​បញ្ឈប់​ជា​បណ្តោះអាសន្ន​កិច្ចប្រតិបត្តិការ​បោះឆ្នោត​បន្ទាប់​មក​ពិភាក្សា​ជាមួយ​សមាជិក គ.ក.ប/គ.ក.រ ដទៃ​ទៀត។</li>
        <li>ករណី​ប្រធាន គ.ក.ប/គ.ក.រ យល់ព្រម​តាម​ការ​ជំទាស់ ឬតវ៉ា​គាត់​ត្រូវ​ចាត់​វិធានការដោះស្រាយ ភាព​មិន​ប្រក្រតី​នោះ​ជាបន្ទាន់ដោយ​ផ្អែកលើ ច.ប.ឃ.ស និង ប.ន.ឃ.ស។</li>
        <li>ករណី​ប្រធាន គ.ក.ប/គ.ក.រ បដិសេធ​ការ​ជំទាស់ ឬ​តវ៉ា​គាត់​ត្រូវ​ផ្តល់​ហេតុផល​ពាក់ព័ន្ធ​នឹងការ​បដិសេធ​នោះ​ជូន​ភ្នាក់ងារ​គណបក្ស​នយោបាយ ។</li>
        <li>ប្រសិន​បើ​ភ្នាក់ងារ​គណបក្ស​នយោបាយ​នៅតែ​ជំទាស់ ឬ​តវ៉ា​ប្រធាន គ.ក.ប/គ.ក.រ ត្រូវកត់ត្រា​ខ្លឹមសារ​នៃ​ការ​ជំទាស់ ឬតវ៉ា​នោះ​ក្នុង​កំណត់​នៃ​ការ​បោះឆ្នោត (ទ.១១០១) ឬកំណត់ហេតុ​នៃ​ការ​រាប់​សន្លឹកឆ្នោត (ទ.១១០២) ដោយ​ឲ្យ​អ្នក​ជំទាស់ ឬ​តវ៉ា​ចុះ​ហត្ថលេខាលើ​កំណត់​ហេតុនោះ។ ប៉ុន្តែ​ខ្លឹមសារ​នៃ​ការ​ជំទាស់ ឬ​តវ៉ា​មិន​ត្រូវ​បាន​កត់ត្រា​ក្នុង ទ.១១០១ និងទ.១១០២ នោះ​ទេ  ប្រសិន​បើ​អ្នក​ជំទាស់ ឬតវ៉ា​មិន​ព្រម​ចុះ​ហត្ថលេខា​លើ​កំណត់ហេតុ។</li>
        <li>ការ​សម្រេច​របស់​ប្រធាន គ.ក.ប/គ.ក.រ ត្រូវ​តែមាន ប្រសិទ្ធភាព។ បន្ទាប់​មក​គាត់​ត្រូវប្រកាស​បន្ត​ដំណើរ​ការ​បោះឆ្នោត និង​រាប់​សន្លឹកឆ្នោត​តទៅ​ទៀត។ </li>
        <li>ភ្នាក់ងារ​គណបក្ស​នយោបាយ ត្រូវ​តែ​យល់​ព្រម​ទទួល​យក​វិធានការ​នៃការ​គ្រប់គ្រង​របស់ប្រធាន គ.ក.ប/គ.ក.រ និង​មិន​ត្រូវ​រំខាន ឬ​ជ្រៀតជ្រែក​ធ្វើ​ឱ្យ​រាំងស្ទះ​ដល់​កិច្ចប្រតិបត្តិការ​បោះឆ្នោត និង​រាប់​សន្លឹកឆ្នោត​ឡើយ។</li>
      </ul>
    </div>
  </div>

  <!-- Article ID = 2.1 -->
  <div class="article" *ngIf="article_id == 2.1">
    <div class="article--header">
      <h1 class="article--header__title">
        ពេល​កំណត់​ ​ទម្រង់​ដែល​ត្រូវ​ប្រើ​ ​និង​ព័ត៌មាន​ចាំបាច់​មួយ​ចំនួន
      </h1>
    </div>
    <div class="divider"> </div>
    <div class="article--content">
      <ul>
        <li>ភ្នាក់ងារ​គណបក្ស​នយោបាយ ត្រូវ​តែ​យល់​ព្រម​ទទួល​យក​វិធានការ​នៃការ​គ្រប់គ្រង​របស់ប្រធាន គ.ក.ប/គ.ក.រ និង​មិន​ត្រូវ​រំខាន ឬ​ជ្រៀតជ្រែក​ធ្វើ​ឱ្យ​រាំងស្ទះ​ដល់​កិច្ចប្រតិបត្តិការ​បោះឆ្នោត និង​រាប់​សន្លឹកឆ្នោត​ឡើយ។</li>
        <li>
          ក្នុង​ពាក្យបណ្តឹង​ត្រូវ​បំពេញ​ព័ត៌មាន​ចាំបាច់​មួយ​ចំនួន​ដូច​ខាងក្រោម​៖
          <ul>
            <li>ឈ្មោះ​ ​និង​អាសយដ្ឋាន​របស់​អ្នកប្ដឹង​។​</li>
            <li>លក្ខណៈ​សម្គាល់​ ​នៃ​ការិយាល័យ​បោះឆ្នោត​។</li>
            <li>ពេលវេលា​ ​និង​ទីកន្លែង​នៃ​ការ​កើតឡើង​នូវ​ភាព​មិន​ប្រក្រតី​។</li>
            <li>កម្មវត្ថុ​នៃ​ពាក្យបណ្ដឹង។</li>
            <li>ប្រសិន​អាច​ធ្វើ​បាន​ ​ត្រូវ​បញ្ជាក់​អំពី​មាត្រា​នៃ​ ​ច​.​ប​. ​ឃ​.​ស​ ​ឬ​ ​ប​.​ន​. ​ឃ​.​ស​ ​ដែល​បាន​រំលោភ​។</li>
            <li>មនុស្ស​ដែល​ពាក់​ព័ន្ធ​ក្នុង​ភាព​មិន​ប្រក្រតី​នេះ​។​</li>
            <li>ឈ្មោះ​ ​និង​អាសយដ្ឋាន​របស់​សាក្សី​ ​បើ​មាន​។</li>
            <li>សេចក្ដី​អះអាង​ ​គាំទ្រ​ ​ឬ​ ​ភស្ដុតាង​ផ្សេងៗ​ទៀត​ ​បើ​មាន​។</li>
            <li>ឈ្មោះ​ ​និង​អាសយដ្ឋាន​របស់​អ្នក​សង្កេតការណ៍​ ​ដែល​មាន​វត្តមាន​ ​ក្នុង​ពេល​ហេតុការណ៍​កើតឡើង​ ​បើ​មាន​។</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- Article ID = 2.2 -->
  <div class="article" *ngIf="article_id == 2.2">
    <div class="article--header">
      <h1 class="article--header__title">
        ​ពាក្យបណ្តឹង​ដែល​បាន​ដាក់​ក្រោយ​អំឡុង​ពេលកំណត់​ ​និង​មិន​មាន​បញ្ជាក់​ព័ត៌មាន​គ្រប់គ្រាន់
      </h1>
    </div>
    <div class="divider"> </div>
    <div class="article--content">
      <ul>
        <li>ក្នុង​ករណី​ ​ពាក្យបណ្តឹង​ដាក់​ក្រោយ​អំឡុង​ពេលកំណត់​ (​ហួស​ម៉ោង​ ​១​១​:​៣​០​នាទី​ ​ព្រឹក​ ​ថ្ងៃ​បន្ទាប់ពី​ថ្ងៃ​បោះឆ្នោត​) ​គឃ​.​សប​ ​ត្រូវ​ចារ​បដិសេធ​លើ​ពាក្យបណ្តឹង​ទាំង​៣​ច្បាប់​ (​ទ​. ​១២០២​) ​រួច​ប្រគល់​ជូន​៖​ ​អ្នក​ប្តឹង​ ​១​ (​មួយ​) ​ច្បាប់​ ​គប​.​ខប​ ​១​ (​មួយ​) ​ច្បាប់​ ​និង​ទុកជាឯក​សារ​ ​១​ (​មួយ​) ​ច្បាប់​។</li>
        <li>ក្នុង​ករណី​ពាក្យបណ្តឹង​មិន​មាន​បញ្ជាក់​ព័ត៌មាន​គ្រប់គ្រាន់​ ​គឃ​.​សប​ ​ត្រូវ​ណែនាំ​អ្នក​ប្តឹង​ឱ្យ​បំពេញ​បន្ថែម​ចំណុច​ខ្វះខាត​ ​និង​ត្រូវ​ផ្តល់​ចំណុច​ខ្វះខាត​ទាំងនោះ​ ​ដោយ​មិន​​ឱ្យ​ហួស​ ​ម៉ោង​ ​១​១​:​៣​០​ ​នាទី​ព្រឹក​ (​ថ្ងៃ​បន្ទាប់ពី​ថ្ងៃ​បោះឆ្នោត​)​។</li>
        <li>បើ​អ្នក​ប្តឹង​ ​មិនបាន​បំពេញ​ចំណុច​ខ្វះខាត​ទាន់ពេល​វេលា​នោះ​ទេ​ ​គឃ​.​សប​ ​ចារ​បដិសេធ​ ​លើ​ពាក្យបណ្តឹង​ទាំង​៣​ច្បាប់​ ​ដោយ​បញ្ជាក់​ពី​មូលហេតុ​ឱ្យ​​ច្បាស់លាស់​ ​រួច​ប្រគល់​ជូន​៖​ ​អ្នក​ប្តឹង​ ​១​ (​មួយ​) ​ច្បាប់​ ​គធ​.​ខប​ ​១​ (​មួយ​) ​ច្បាប់​ ​និង​ទុកជាឯក​សារ​ ​១​ (​មួយ​) ​ច្បាប់​។</li>
      </ul>
    </div>
  </div>

  <!-- Article ID = 2.3 -->
  <div class="article" *ngIf="article_id == 2.3">
    <div class="article--header">
      <h1 class="article--header__title">
        ​ពាក្យបណ្តឹង​បាន​ដាក់​ក្នុង​អំឡុង​ពេលកំណត់​ ​និង​មាន​ព័ត៌មាន​ ​គ្រប់គ្រាន់
      </h1>
    </div>
    <div class="divider"> </div>
    <div class="article--content">
      <ul>
        <li>​បើ​ពាក្យបណ្តឹង​បាន​ដាក់​ក្នុង​អំឡុង​ពេលកំណត់​ ​និង​មាន​ព័ត៌មាន​ ​គ្រប់គ្រាន់​ ​គឃ​.​សប​ ​ត្រូវ​ប្រជុំ​សម្រេច​លើ​ពាក្យបណ្តឹង​ ​បន្ទាប់ពី​បាន​ ​ត្រួតពិនិត្យ​ ​និង​បូកសរុប​លទ្ធផល​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​ ​ក្នុង​រយៈពេល​យ៉ាង​យូរ​ ​៣​ (​បី​) ​ថ្ងៃ​ ​បន្ទាប់ពី​ថ្ងៃ​បាន​ទទួល​ ​កំណត់ហេតុ​នៃ​ការបោះឆ្នោត​ ​និង​សម្ភារ​បោះឆ្នោត​ពី​គ្រប់​ការិយាល័យ​រាប់​សន្លឹកឆ្នោត​ទាំងអស់​។</li>
        <li>
          ក្នុង​ករណី​ ​ពាក្យបណ្តឹង​តវ៉ា​ ​ឬ​ពាក្យបណ្តឹង​ជំទាស់​ ​មាន​ពាក់ព័ន្ធ​នឹង​ភាព​មិន​ប្រក្រតី​ណាមួយ​ដែល​អាច​ប៉ះពាល់​ដល់​លទ្ធផល​បណ្តោះ​ ​អាសន្ន​នៃ​ការបោះឆ្នោត​ ​ប្រធាន​ ​គឃ​.​សប​ ​ត្រូវ​៖
          <ul>
            <li>ចាត់ចែង​ការ​ត្រួតពិនិត្យ​ ​និង​បូកសរុប​លទ្ធផល​បណ្តោះអាសន្ន​នៃ​ការ​រាប់​សន្លឹកឆ្នោត​របស់​ការិយាល័យ​ដែល​មាន​ពាក្យបណ្តឹង​។</li>
            <li>បើក​កញ្ចប់​សុវត្ថិភាព​ “​ក​” ​ដើម្បី​ធ្វើការ​ត្រួតពិនិត្យ​ផ្ទៀងផ្ទាត់​ ​សម្ភារ​ឯកសារ​បោះឆ្នោត​ ​និង​រាប់​សន្លឹកឆ្នោត​។</li>
            <li>អនុញ្ញាត​ឱ្យ​អ្នក​ប្តឹង​ ​ភ្នាក់ងារ​គណ​កប​្​ស​នយោបាយ​ ​និង​អ្នក​សង្កេតការណ៍​ ​ចូលរួម​សង្កេតមើល​ក្នុង​ការ​អនុវត្ត​នីតិវិធី​។</li>
          </ul>
        </li>
        <li>បន្ទាប់ពី​បាន​ត្រួតពិនិត្យ​ឡើងវិញ​ ​បើ​ ​គ​ឃ​.​សប​ ​រក​មិន​ឃើញ​ភស្តុតាង​បញ្ជាក់​ថា​មាន​ភាព​មិន​ប្រក្រតី​ធ្ងន់ធ្ងរ​ ​ដែល​អាច​ធ្វើ​ឱ​្​យ​ប៉ះពាល់​ដល់​លទ្ធផល​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​គឃ​.​សប​ ​ត្រូវ​សម្រេច​បដិសេធ​លើ​ពាក្យបណ្តឹង​ ​ដោយ​ចេញ​ ​ទ​.​១២០៣ ​ចំនួន​ ​៣​ (​បី​) ​ច្បាប់​ ​រួច​ប្រគល់​ជូន​៖​ ​អ្នក​ប្តឹង​ ​១​ (​មួយ​) ​ច្បាប់​ ​ជូន​ ​គធ​.​ខប​ ​១​ (​មួយ​) ​ច្បាប់​ ​និង​ទុកជាឯក​សារ​ ​១​ (​មួយ​) ​ច្បាប់​។</li>
        <li>បន្ទាប់ពី​បាន​ត្រួតពិនិត្យ​ឡើងវិញ​ ​បើ​ ​គឃ​.​សប​ ​រក​ឃើញ​មាន​ ​ភស្តុតាង​បញ្ជាក់​ថា​មាន​ភាព​មិន​ប្រក្រតី​ ​ដែល​អាច​ធ្វើ​ឱ្យ​ប៉ះពាល់​ដល់​លទ្ធផល​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​ពិតជា​បាន​កើតឡើង​ ​គឃ​.​សប​ ​ត្រូវ​សម្រេច​យល់ព្រម​លើ​ពាក្យបណ្តឹង​ ​ដោយ​ចេញ​ ​ទ​.​១២០៣​ ​ចំនួន​ ​៣​ (​បី​) ​ច្បាប់​ ​រួច​ប្រគល់​ជូន​៖​ ​អ្នក​ប្តឹង​ ​១​ (​មួយ​) ​ច្បាប់​ ​គធ​.​ខប​ ​១​ (​មួយ​) ​ច្បាប់​ ​និង​ទុកជាឯក​សារ​ ​១​ (​មួយ​) ​ច្បាប់​។</li>
        <li>បន្ទាប់មក​ធ្វើ​របាយការណ៍​ ​និង​លើក​យោបល់​ស្តីពី​ករណី​នេះ​ ​ជូន​ ​គធ​.​ខប​ ​ដើម្បី​ពិនិត្យ​ ​សម្រេច​ដោយ​ត្រូវ​ផ្ញើរ​កំណត់ហេតុ​បូកសរុប​លទ្ធផល​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​អម​ទៅ​ជាមួយ​ ​។​ </li>
      </ul>
    </div>
  </div>

  <!-- Article ID = 2.4 -->
  <div class="article" *ngIf="article_id == 2.4">
    <div class="article--header">
      <h1 class="article--header__title">
        ជំហាន​បន្ទាប់​សម្រាប់​អ្នក​ប្តឹង​ដែល​មិនសុខចិត្ត​នឹង​សេចក្តី​សម្រេច​របស់​ ​គឃ​.​សប
      </h1>
    </div>
    <div class="divider"> </div>
    <div class="article--content">
      ភ្នាក់ងារ​គណបក្ស​នយោបាយ​ដែល​មិនសុខចិត្ត​ ​នឹង​សេចក្តី​សម្រេច​របស់​ ​គឃ​.​សប​ ​ឬ​ប្រជាពលរដ្ឋ​ដែល​មានឈ្មោះ​ក្នុង​បញ្ជី​បោះឆ្នោត​ក្នុង​ឃុំ​-​សង្កាត់​ ​ឬ​គណបក្ស​នយោបាយ​ដែល​មាន​បញ្ជី​បេក្ខជន​ឈរឈ្មោះ​បោះឆ្នោត​ក្នុង​ឃុំ​សង្កាត់​ ​ដែល​មាន​ភស្តុតាង​ច្បាស់​លាស់​បញ្ជាក់​អំពី​ភាព​មិន​ប្រក្រតី​ ​ដែល​នាំឲ្យ​ប៉ះពាល់​ដល់​លទ្ធផល​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​ក្នុង​ឃុំ​ ​សង្កាត់​ ​មាន​សិទ្ធិ​ប្តឹងតវ៉ា​ ​មក​ ​គធ​.​ខប​ ​ក្នុងរយៈពេល​ ​០៣​ថ្ងៃ​ ​យ៉ាង​យូរ​ ​បន្ទាប់ពី​ថ្ងៃ​ ​គឃ​.​សប​ ​បិទផ្សាយ​កំណត់ហេតុ​បូកសរុប​លទ្ធផល​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​ក្នុង​ឃុំ​-​សង្កាត់​ ​ដោយ​ត្រូវ​បំពេញ​ ​ទ​.​១២០២ ​ចំនួន​ ​០៣​ច្បាប់​។
    </div>
  </div>

  <!-- Article ID = 3.1 -->
  <div class="article" *ngIf="article_id == 3.1">
    <div class="article--header">
      <h1 class="article--header__title">
        ពេលកំណត់​ ​ទម្រង់​ដែល​ត្រូវ​ប្រើ​ ​និង​ព័ត៌មាន​ចាំបាច់​មួយ​ចំនួន​ ​ដែល​ត្រូវ​បំពេញ​ដោយ​អ្នក​​ប្តឹង​ ​ប្រជាពលរដ្ឋ​ដែល​រស់នៅ​ក្នុង​ឃុំ​-​សង្កាត់​ ​ឬ​គណបក្ស​នយោបាយ​ដែល​មាន​បញ្ជី​បេក្ខជន​ឈរឈ្មោះ​បោះឆ្នោត​ក្នុង​ឃុំ​សង្កាត់
      </h1>
    </div>
    <div class="divider"> </div>
    <div class="article--content">
      <ul>
        <li>ភ្នាក់ងារ​គណបក្ស​នយោបាយ​ដែល​មិនសុខចិត្ត​ ​នឹង​សេចក្តី​សម្រេច​របស់​ ​គ​ឃ​.​សប​ ​ឬ​ប្រជាពលរដ្ឋ​ដែល​មានឈ្មោះ​ក្នុង​បញ្ជី​បោះឆ្នោត​ក្នុង​ឃុំ​-​សង្កាត់​ ​ឬ​គណបក្ស​នយោបាយ​ដែល​មាន​បញ្ជី​បេក្ខជន​ឈរឈ្មោះ​បោះឆ្នោត​ក្នុង​ឃុំ​សង្កាត់​ ​ដែល​មាន​ភស្តុតាង​ច្បាស់​ ​លាស់​បញ្ជាក់​អំពី​ភាព​មិន​ប្រក្រតី​ ​ដែល​នាំឲ្យ​ប៉ះពាល់​ដល់​លទ្ធផល​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​ក្នុង​ឃុំ​ ​សង្កាត់​ ​មាន​សិទ្ធិ​ប្តឹងតវ៉ា​ ​មក​ ​គធ​.​ខប​ ​ក្នុងរយៈពេល​ ​០​៣​ថ្ងៃ​ ​យ៉ាង​យូរ​ ​បន្ទាប់ពី​ថ្ងៃ​ ​គឃ​.​សប​ ​បិទផ្សាយ​កំណត់ហេតុ​បូកសរុប​លទ្ធផល​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​ក្នុង​ឃុំ​-​សង្កាត់​ ​ដោយ​ត្រូវ​បំពេញ​ ​ទ​.​១២០២​ ​ចំនួន​ ០៣​ច្បាប់​។</li>
        <li>
          ក្នុង​ពាក្យបណ្តឹង​ត្រូវ​បំពេញ​ព័ត៌មាន​ចាំបាច់​មួយ​ចំនួន​ដូច​ខាងក្រោម​៖
          <ul>
            <li>ឈ្មោះ​ ​និង​អាសយដ្ឋាន​របស់​អ្នកប្ដឹង​។​ ​</li>
            <li>​លក្ខណៈ​សម្គាល់​នៃ​ ​គឃ​.​សប​ ​និង​ការិយាល័យ​បោះឆ្នោត​ ​និង​រាប់​សន្លឹកឆ្នោត​។</li>
            <li>ពេលវេលា​ ​និង​ទីកន្លែង​នៃ​ការ​កើតឡើង​នូវ​ភាព​មិន​ប្រក្រតី​។</li>
            <li>កម្មវត្ថុ​នៃ​ពាក្យបណ្ដឹង​។​</li>
            <li>ប្រសិន​អាច​ធ្វើ​បាន​ ​ត្រូវ​បញ្ជាក់​អំពី​មាត្រា​នៃ​ ​ចប​ ​ឃស​ ​ឬ​ ​បន​ ​ឃស​ ​ដែល​បាន​រំលោភ​។</li>
            <li>មនុស្ស​ដែល​ពាក់​ព័ន្ធ​​ក្នុង​ភាព​មិន​ប្រក្រតី​នេះ​។​ </li>
            <li>ឈ្មោះ​ ​និង​អាសយដ្ឋាន​របស់​សាក្សី​ ​បើ​មាន​។​</li>
            <li>សេចក្ដី​អះអាង​ ​គាំទ្រ​ ​ឬ​ ​ភស្ដុតាង​ផ្សេងៗ​ទៀត​ ​បើ​មាន​។</li>
            <li>ឈ្មោះ​ ​និង​អាសយដ្ឋាន​របស់​អ្នក​សង្កេតការណ៍​ ​ដែល​មាន​វត្តមាន​ ​ក្នុង​ពេល​ហេតុការណ៍​កើតឡើង​ ​បើ​មាន​។</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- Article ID = 3.2 -->
  <div class="article" *ngIf="article_id == 3.2">
    <div class="article--header">
      <h1 class="article--header__title">
        ពាក្យបណ្តឹង​ដាក់​ក្រោយ​អំឡុង​ពេលកំណត់​ ​ឬ​មិន​មាន​បញ្ជាក់​ព័ត៌មាន​គ្រប់គ្រាន់
      </h1>
    </div>
    <div class="divider"> </div>
    <div class="article--content">
      <ul>
        <li>​ក្នុង​ករណី​ ​ពាក្យបណ្តឹង​ដាក់​ក្រោយ​អំឡុង​ពេលកំណត់​ ​យ៉ាង​យូ​រ ​០​៣​ថ្ងៃ​ ​បន្ទាប់ពី​ថ្ងៃ​បិទផ្សាយ​កំណត់ហេតុ​បូកសរុប​លទ្ធផល​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​ ​និង​រាប់​សន្លឹកឆ្នោត​ក្នុង​ឃុំ​-​សង្កាត់​ ​គធ​.​ខប​ ​ត្រូវ​ចារ​បដិសេធ​ ​លើ​ ​ទ​.​១២០២ ​គ្រប់​ ​ច្បាប់​ ​រួច​ប្រគល់​ជូន​៖​ ​អ្នក​ប្តឹង​ ​១​ (​មួយ​) ​ច្បាប់​ ​ជូន​ ​គ.ជ.ប​​ ​១​ (​មួយ​) ​ច្បាប់​ ​និង​ទុកជាឯក​សារ​ ​១​ (​មួយ​) ​ច្បាប់​។</li>
        <li>ក្នុង​ករណី​ ​ពាក្យបណ្តឹង​មិន​មាន​បញ្ជាក់​ព័ត៌មាន​គ្រប់គ្រាន់​ ​គធ​.​ខប​ ​ត្រូវ​ណែនាំ​អ្នក​ប្តឹង​ឱ្យ​បំពេញ​បន្ថែម​ចំណុច​ខ្វះខាត​ ​ដោយ​មិន​ឱ្យ​ហួស​ ​រយៈ​ពេលកំណត់​ ​៣​ (​បី​) ​ថ្ងៃ​យ៉ាង​យូរ​ ​បន្ទាប់ពី​ថ្ងៃ​បិទផ្សាយ​កំណត់ហេតុ​បូកសរុប​លទ្ធផល​ ​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​ក្នុង​ឃុំ​ ​សង្កាត់​ ​។</li>
        <li>បើ​អ្នក​ប្តឹង​ ​មិនបាន​បំពេញ​ចំណុច​ខ្វះខាត​ទាន់ពេល​វេលា​នោះ​ទេ​ ​គធ​.​ខប​ ​ត្រូវ​ចារ​បដិសេធ​ ​លើ​ពាក្យបណ្តឹង​ទាំង​៣​ច្បាប់​ ​ដោយ​បញ្ជាក់​អំពី​មូលហេតុ​ឱ្យ​បាន​ច្បាស់លាស់​ ​រួច​ប្រគល់​ជូន​៖​ ​អ្នក​ប្តឹង​ ​១​ (​មួយ​) ​ច្បាប់​ ​ជូន​ ​គ​.​ជ​.​ប​ ​១​ (​មួយ​) ​ច្បាប់​ ​និង​ទុកជាឯក​សារ​ ​១​ (​មួយ​) ​ច្បាប់​។</li>
      </ul>
    </div>
  </div>

  <!-- Article ID = 3.3 -->
  <div class="article" *ngIf="article_id == 3.3">
    <div class="article--header">
      <h1 class="article--header__title">
        ពាក្យបណ្តឹង​បាន​ដាក់​ក្នុង​អំឡុង​ពេលកំណត់​ ​និង​មាន​ព័ត៌មាន​គ្រប់
      </h1>
    </div>
    <div class="divider"> </div>
    <div class="article--content">
      <ul>
        <li>បើ​អ្នក​ប្តឹង​ ​មិនបាន​បំពេញ​ចំណុច​ខ្វះខាត​ទាន់ពេល​វេលា​នោះ​ទេ​ ​គធ​.​ខប​ ​ត្រូវ​ចារ​បដិសេធ​ ​លើ​ពាក្យបណ្តឹង​ទាំង​៣​ច្បាប់​ ​ដោយ​បញ្ជាក់​អំពី​មូលហេតុ​ឱ្យ​បាន​ច្បាស់លាស់​ ​រួច​ប្រគល់​ជូន​៖​ ​អ្នក​ប្តឹង​ ​១​ (​មួយ​) ​ច្បាប់​ ​ជូន​ ​គ​.​ជ​.​ប​ ​១​ (​មួយ​) ​ច្បាប់​ ​និង​ទុកជាឯក​សារ​ ​១​ (​មួយ​) ​ច្បាប់​។</li>
        <li>ក្រុម​ត្រួតពិនិត្យ​លទ្ធផល​នៃ​ ​គធ​.​ខប​ ​ដែល​ធ្វើ​ការពិនិត្យ​លទ្ធផល​ ​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​នៅ​ឃុំ​ ​សង្កាត់​ដែល​មាន​ពាក្យបណ្តឹង​ ​ត្រូវ​ពិនិត្យ​ជាមុន​នូវ​សេចក្តី​សម្រេច​របស់​ ​គ​ឃ​.​សប​ ​របាយការណ៍​របស់​ ​គឃ​.​សប​ ​ស្តីពី​កា​របើក​កញ្ចប់​សុវត្ថិភាព​ “​ក​” ​និង​ពាក្យបណ្តឹង​ដែល​ដាក់​នៅ​ ​គ​ធ​.​ខ​ប​ ​បន្ទាប់មក​ស្នើសុំ​យោបល់​សម្រេច​ ​របស់​ ​គ​ធ​.​ខ​ប​ ​អំពី​ការអនុញ្ញាត​ឱ្យ​បើក​ ​ឬ​មិន​បើក​កញ្ចប់​សុវត្ថិភាព​ “​ក​” ​នៃ​ការិយាល័យ​បោះឆ្នោត​ពាក់ព័ន្ធ​។​ </li>
        <li>គធ​.​ខប​ ​មិន​ចាំបាច់​តម្រូវ​ឱ្យ​បើក​កញ្ចប់​សុវត្ថិភាព​ “​ក​” ​ដើម្បី​ត្រួត​ ​ពិនិត្យ​ផ្ទៀងផ្ទាត់​សម្ភារ​ ​ឯកសារ​បោះឆ្នោត​ ​និង​រាប់​សន្លឹកឆ្នោត​ឡើងវិញ​ឡើយ​ ​ក្នុង​ករណី​គ្មាន​ភាព​មិន​ប្រក្រតី​ធ្ងន់ធ្ងរ</li>
        <li>ប៉ុន្តែ​បើ​មាន​ភាព​មិន​ប្រក្រតី​ធ្ងន់ធ្ងរ​ ​គធ.ខប​ ​ត្រូវ​សម្រេច​ឱ្យ​បើក​កញ្ចប់​សុវត្ថិភាព​ “​ក​” ​ដើម្បី​ត្រួតពិនិត្យ​ផ្ទៀងផ្ទាត់​សម្ភារ​ ​ឯកសារ​បោះឆ្នោត​ ​និង​រាប់​សន្លឹកឆ្នោត​ឡើងវិញ​។​</li>
        <li>ការ​ត្រួតពិនិត្យ​ផ្ទៀងផ្ទាត់​សម្ភារ​ ​ឯកសារ​បោះឆ្នោត​ ​ត្រូវធ្វើ​នៅចំពោះមុខ​ភ្នាក់ងារ​គណបក្ស​នយោបាយ​ ​អ្នក​សង្កេតការណ៍​ ​អ្នក​ប្តឹង​ ​ឬ​ភាគី​ពាក់ព័ន្ធ​។</li>
      </ul>
    </div>
  </div>

  <!-- Article ID = 3.3 -->
  <div class="article" *ngIf="article_id == 3.4">
    <div class="article--header">
      <h1 class="article--header__title">
        ការ​បដិសេធ​ ​ឬ​សម្រេច​ព្យួរ​លទ្ធផល​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​ដោយ​ ​គធ.ខប
      </h1>
    </div>
    <div class="divider"> </div>
    <div class="article--content">
      <ul>
        <li>ការ​ត្រួតពិនិត្យ​ផ្ទៀងផ្ទាត់​សម្ភារ​ ​ឯកសារ​បោះឆ្នោត​ ​ត្រូវធ្វើ​នៅចំពោះមុខ​ភ្នាក់ងារ​គណបក្ស​នយោបាយ​ ​អ្នក​សង្កេតការណ៍​ ​អ្នក​ប្តឹង​ ​ឬ​ភាគី​ពាក់ព័ន្ធ​។</li>
        <li>គធ.ខប​ ​ត្រូវ​ចេញ​ ​ទ​.‌​១២០៣​ ​បដិសេធ​លទ្ធផល​បណ្តោះអាសន្ន​ ​នៃ​ការបោះឆ្នោត​ក្នុង​ឃុំ​ ​សង្កាត់​ ​ឬ​ការិយាល័យ​បោះឆ្នោត​ណាមួយ​ ​ដោយ​បញ្ជាក់​ឱ្យ​បាន​ច្បាស់លាស់​ ​អំពី​មូលហេតុ​នៃ​ការ​បដិសេធ​ ​លទ្ធផល​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​។</li>
        <li>ប្រសិនបើ​ ​គធ.ខប​ ​សម្រេច​យល់ព្រម​ទទួលយក​លទ្ធផល​ ​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​ក្នុង​ឃុំ​ ​សង្កាត់​ ​ឬ​ការិយាល័យ​បោះឆ្នោត​ណាមួយ​ ​គធ.ខប​ ​ត្រូវ​ចារ​បដិសេធ​​ ទ​.​១២០៣​ ​របស់​ ​គឃ.សប​ ​និង​ចារ​យល់ព្រម​លើ​តារាងត្រួតពិនិត្យ​លទ្ធផល​ ​និង​របាយការណ៍​ស្តីពី​ការ​ ​បើក​កញ្ចប់​សុវត្ថិភាព​ “​ក​” ​របស់​ក្រុម​ត្រួតពិនិត្យ​លទ្ធផល​នៃ​ ​គធ.ខប​ ​ឬ​/​និង​របាយការណ៍​របស់​ ​គឃ.សប​ ​ស្តីពី​កា​របើក​កញ្ចប់​សុវត្ថិភាព​ “​ក​” ​។</li>
        <li>បន្ទាប់មក​ ​គធ.ខប​ ​ត្រូវ​ចេញ​ ​ទ​.​១២០៣ ​យល់ព្រម​ទទួលយក​ ​លទ្ធផល​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​នៅ​ឃុំ​ ​សង្កាត់​ ​ឬ​ការិយាល័យ​បោះឆ្នោត​ណាមួយ​ក្នុង​ឃុំ​ ​សង្កាត់​ ​និង​ចារ​បដិសេធ​លើ​ពាក្យបណ្តឹង​ (​ទ​.​១២០៣​)​ដែល​បាន​ដាក់​នៅ​ ​គធ.ខប​ ​ដោយ​បញ្ជាក់​ឱ្យ​បាន​ច្បាស់​ពី​មូលហេតុ​នៃ​ការ​ទទួលយក​លទ្ធផល​បណ្តោះអាសន្ន​នេះ​។</li>
        <li>សម្រង់​សេចក្តី​សម្រេច​ ​ទ​.​១២០៣​ ​របស់​ ​គធ.ខប​ ​ដែល​សម្រេច​ព្យួរ​ ​ឬ​ទទួលយក​ ​លទ្ធផល​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​ក្នុង​ឃុំ​ ​សង្កាត់​ ​ឬ​ការិយាល័យ​​​បោះឆ្នោត​ណាមួយ​ក្នុង​ឃុំ​ ​សង្កាត់​ ​ត្រូវ​ប្រគល់​ជូន​៖​ ​អ្នក​ប្តឹង​ ​១​ ​ច្បាប់​ ​គ្រប់​ភ្នាក់ងារ​គណបក្ស​ឈរឈ្មោះ​ក្នុង​ឃុំ​ ​សង្កាត់​ ​១​ ​ច្បាប់​ ​គ.ជ.ប ​១​ ​ច្បាប់​ ​គឃ.សប​ ​ពាក់ព័ន្ធ​ ​១​ ​ច្បាប់​ ​និង​ទុកជាឯក​សារ​ ​១​ ​ច្បាប់​។</li>
        <li>អ្នក​ប្តឹង​ ​ឬ​តំណាង​ដែល​មិនសុខចិត្ត​នឹង​សេចក្តី​សម្រេច​របស់​ ​គធ.ខប​ ​លើ​ពាក្យបណ្តឹង​របស់​ខ្លួន​ ​ពាក់ព័ន្ធ​នឹង​លទ្ធផល​បណ្តោះអាសន្ន​នៃ​ការបោះឆ្នោត​នៅ​ឃុំ​ ​សង្កាត់​ ​ឬ​ការិយាល័យ​បោះឆ្នោត​ណាមួយ​ក្នុង​ឃុំ​ ​សង្កាត់​ ​មាន​សិទ្ធិ​ដាក់ពាក្យ​ ​បណ្តឹង​មក​ ​គ.ជ.ប ​តាម​ ​ទ​.‌​១២០២​ចំនួន​ ​៣​ (​បី​) ​ច្បាប់​ ​ក្នុងរយៈពេល​ ​៤​ (​បួន​) ​ថ្ងៃ​យ៉ាង​យូរ​ ​បន្ទាប់ពី​ថ្ងៃ​បាន​ទទួល​ ​ទ​.​១២០៣​ ​របស់​ ​គធ.ខប​ ​។</li>
      </ul>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button clear color="danger" navPop>
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <button ion-button clear gutter color="danger" (click)="routeHome()">
      <ion-icon name="home"></ion-icon>
    </button>
    <button ion-button clear color="danger" (click)="exitButtonClick()">
      <ion-icon name="power"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
