<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detail Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- Article ID = 1 -->
  <div class="article" *ngIf="article_id == 1">
    <div class="article--header">
      <h1 class="article--header__title">
        U.S. Industrial Production Surged in April
      </h1>
      <span class="article--header__meta">
        By <strong>Jeffrey Sparshott</strong> <br>
        Updated May 16, 2017 3:10 p.m. ET
      </span>
    </div>
    <div class="divider"> </div>
    <div class="article--content">

      <p>
        WASHINGTON—U.S. industrial output rose sharply in April, the latest evidence that economic growth is picking up following a lackluster start to the year.
      </p>

      <img src="assets/articles/BN-TL279_2Ltd6_OR_20170515135515.jpg" alt="">

      <p>
        Industrial production—a measure of output at factories, mines and utilities—jumped 1.0% from a month earlier, the Federal Reserve said Tuesday. That was the largest gain in more than three years.
      </p>

      <p>
        The strong showing follows a string of upbeat April indicators, including the unemployment rate falling to its lowest level since 2007, solid consumer spending gains at online sellers, restaurants and other retailers, and existing-home sales climbing at their fastest pace in a decade. The broad-based growth across key sectors of the economy suggests healthy demand from consumers and businesses, reversing some gloomier readings from earlier in the year.
      </p>

      <p>
        “If you filter through the noise and look at the broader trend, things are starting to get a little better,” said Richard Moody, chief economist at Regions Financial Corp.
      </p>

      <p>
        Tuesday’s report from the Federal Reserve showed manufacturing output, the biggest component of industrial production, posted its strongest gain since early in 2014, pushing the Fed’s manufacturing index to a new postrecession high.
      </p>

      <p>
        U.S. factory activity was stagnant through much of 2015 and 2016 as the dollar strengthened, making U.S. goods more expensive to sell overseas, and global economic growth remained tepid. Now, the dollar has stabilized and overseas demand has picked up, helping American factories.
      </p>
    </div>
  </div>


  <!-- Article ID = 2 -->
  <div class="article" *ngIf="article_id == 2">
    <div class="article--header">
      <h1 class="article--header__title">
        Former FBI Director Robert Mueller Named Special Counsel for Russia Probe
      </h1>
      <span class="article--header__meta">
        By <strong>Aruna Viswanatha</strong> <br>
        Updated May 17, 2017 11:59 p.m. ET
      </span>
    </div>
    <div class="divider"> </div>
    <div class="article--content">

      <p>
        Former FBI Director Robert Mueller III was appointed Wednesday as special counsel to oversee the federal investigation into Russia’s alleged interference in the 2016 U.S. presidential election, giving him wide latitude to explore potential collusion between the Trump campaign and Moscow.
      </p>

      <img src="assets/articles/BN-TL144_ttower_E_20170515061400.jpg" alt="">

      <p>
        Industrial production—a measure of output at factories, mines and utilities—jumped 1.0% from a month earlier, the Federal Reserve said Tuesday. That was the largest gain in more than three years.
      </p>

      <p>
        The strong showing follows a string of upbeat April indicators, including the unemployment rate falling to its lowest level since 2007, solid consumer spending gains at online sellers, restaurants and other retailers, and existing-home sales climbing at their fastest pace in a decade. The broad-based growth across key sectors of the economy suggests healthy demand from consumers and businesses, reversing some gloomier readings from earlier in the year.
      </p>

      <p>
        “If you filter through the noise and look at the broader trend, things are starting to get a little better,” said Richard Moody, chief economist at Regions Financial Corp.
      </p>

      <p>
        Tuesday’s report from the Federal Reserve showed manufacturing output, the biggest component of industrial production, posted its strongest gain since early in 2014, pushing the Fed’s manufacturing index to a new postrecession high.
      </p>

      <p>
        U.S. factory activity was stagnant through much of 2015 and 2016 as the dollar strengthened, making U.S. goods more expensive to sell overseas, and global economic growth remained tepid. Now, the dollar has stabilized and overseas demand has picked up, helping American factories.
      </p>
    </div>
  </div>


  <!-- Article ID = 3 -->
  <div class="article" *ngIf="article_id == 3">
    <div class="article--header">
      <h1 class="article--header__title">
        Trump Shared Intelligence Secrets With Russians in Oval Office Meeting
      </h1>
      <span class="article--header__meta">
        By <strong>Aruna Viswanatha</strong> <br>
        Updated May 17, 2017 11:59 p.m. ET
      </span>
    </div>
    <div class="divider"> </div>
    <div class="article--content">

      <p>
        WASHINGTON—President Donald Trump shared sensitive intelligence obtained from a close U.S. ally with Russia’s foreign minister and ambassador in a meeting last week, according to U.S. officials, potentially jeopardizing critical intelligence-sharing agreements in the fight against Islamic State.
      </p>

      <img src="assets/articles/Screenshot from 2017-05-18 15-06-54.png" alt="">

      <p>
        Industrial production—a measure of output at factories, mines and utilities—jumped 1.0% from a month earlier, the Federal Reserve said Tuesday. That was the largest gain in more than three years.
      </p>

      <p>
        The strong showing follows a string of upbeat April indicators, including the unemployment rate falling to its lowest level since 2007, solid consumer spending gains at online sellers, restaurants and other retailers, and existing-home sales climbing at their fastest pace in a decade. The broad-based growth across key sectors of the economy suggests healthy demand from consumers and businesses, reversing some gloomier readings from earlier in the year.
      </p>

      <p>
        “If you filter through the noise and look at the broader trend, things are starting to get a little better,” said Richard Moody, chief economist at Regions Financial Corp.
      </p>

      <p>
        Tuesday’s report from the Federal Reserve showed manufacturing output, the biggest component of industrial production, posted its strongest gain since early in 2014, pushing the Fed’s manufacturing index to a new postrecession high.
      </p>

      <p>
        U.S. factory activity was stagnant through much of 2015 and 2016 as the dollar strengthened, making U.S. goods more expensive to sell overseas, and global economic growth remained tepid. Now, the dollar has stabilized and overseas demand has picked up, helping American factories.
      </p>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button clear color="danger" navPop>
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <button ion-button clear gutter color="danger">
      <ion-icon name="home"></ion-icon>
    </button>
    <button ion-button clear color="danger">
      <ion-icon name="power"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
